* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  overflow: hidden;
}

header {
  display: flex;
  height: 10vh;
  background-color: #333;
  color: white;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  gap: 10vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: red;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

footer {
  height: 5vh;
  display: flex;
  background-color: #333;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-banner {
  width: 35%;
  border-radius: 35px;
}

iframe {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}

.canada-logo {
  height: 6vh;
  margin-top: 10px;
}

.github-link {
  color: red;
}

main {
  height: 85vh;
}

.tips-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.main-section {
  height: 73vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
}

.curiosidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-tips-curiosities {
  margin-bottom: 2vh;
}

.dicas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curiosidades ul,
.dicas ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 2rem;
}

.curiosidades li,
.dicas li {
  margin-bottom: 10px;
  line-height: 1.8;
}

.mapa iframe {
  border: none;
  margin-top: 1rem;
}

.tips-curiosities-container {
  width: 50%;
}

.tips-curiosities-images-container {
  width: 50%;
  height: 100%;
  padding-top: 20px;
}

.two-images-container {
  display: flex;
  flex: 1;
  height: 50%;
  gap: 12px;
}

.section-image {
  object-fit: fill;
  width: 50%;
}